[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
[submodule "public"]
	path = public
	url = https://github.com/picturesque-software/picturesque-software.github.io.git
	branch = master
